.resume {
  .content-area {
    background: $color3;
    margin-left: 20%;
    background: white;
    width: 80%;
    height: 100%;
    padding: 56px;
    overflow: scroll;
    h1 {
      font-weight: 700;
      font-size: 2rem;
      color: $color2;
      letter-spacing: .4rem;
      text-transform: uppercase;
      margin: 36px 0;
    }
    .exp-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 56px;
      grid-row-gap: 30px;
      max-width: 1000px;
      .exp-box {
        padding: 20px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          -webkit-box-shadow: 10px 18px 70px 6px rgba(0,0,0,.12);
          -moz-box-shadow: 10px 18px 70px 6px rgba(0,0,0,.12);
          box-shadow: 10px 18px 70px 6px rgba(0,0,0,.12);
        }
        h5 {
          font-weight: 500;
          font-size: 1.3rem;
          margin-bottom: 1.4rem;
        }
        p {
          font-weight: 300;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

//phone
@media (min-width: 0px) and (max-width: 767px) {
  body,
  html {
    height: auto;
  }
  .resume {
    .menu-icon {
      top: -3px;
      right: 20px;
      color: white;
      .fa {
        color: white;
      }
    }

    .content-area {
      height: auto !important;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .info-section {
      padding: 10px 20px;
      position: static;
      .logo {
        height: 50px;
        width: 70px;
        font-size: 1rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      margin-left: 0;
      width: 100%;
      padding: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .title {
        text-align: center;
      }
      .exp-section {
        width: 100%;
        text-align: center;
        float: right;
        padding: 50px 20px;
        grid-template-columns: 1fr;
        .exp-info {
          .exp-box {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// tablet screens
@media (min-width: 768px) and (max-width: 991px)
{
  .resume {
    .menu-icon {
      top: -3px;
      right: 20px;
      color: white;
      .fa {
        color: $color1;
      }
    }

    .content-area {
      height: auto !important;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .info-section {
      padding: 56px;
      position: absolute;
      // .logo {
      //   height: 50px;
      //   width: 70px;
      //   font-size: 1rem;
      // }
    }
    .content-area {
      margin-left: 0;
      width: 70%;
      float: right;
      padding: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .title {
        text-align: center;
      }
      .exp-section {
        width: 100%;
        text-align: center;
        float: right;
        padding: 50px 20px;
        grid-template-columns: 1fr;
        .exp-info {
          .exp-box {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Large Screens
@media (min-width: 992px) and (max-width: 1199px)
{
  .resume {
    .menu-icon {
      top: -3px;
      right: 20px;
      color: white;
      .fa {
        color: $color1;
      }
    }

    .content-area {
      height: auto !important;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .info-section {
      padding: 56px;
      position: absolute;
      // .logo {
      //   height: 50px;
      //   width: 70px;
      //   font-size: 1rem;
      // }
    }
    .content-area {
      margin-left: 0;
      width: 70%;
      float: right;
      padding: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .title {
        text-align: center;
      }
      .exp-section {
        width: 100%;
        text-align: center;
        float: right;
        padding: 50px 20px;
        grid-template-columns: 1fr 1fr;
        .exp-info {
          .exp-box {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
